/*============ GOOGLE FONTS ===========*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Raleway:wght@400;700&display=swap");
/*============ GOOGLE FONTS END===========*/

// FONTS VARIABLES
$font-body: "Open Sans", sans-serif;
$font-heading: "Raleway", sans-serif;

// COLORS
$color-purple: #8a5cd9;
$color-orange: #f0974f;
$color-dark: #000000;

// bg
$bg-footer: #333333;

// RESET
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: $font-body;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

// UTIL
.container {
  max-width: 120rem;
  margin: 0 auto;
}

/*========= COMPONENTS =========*/

.section {
  padding: 3rem 2rem 4rem;
  &__heading {
    font-family: $font-heading;
    font-size: 3.6rem;
    line-height: 1.1;
  }
}

.grid-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.grid-item {
  border-radius: 2rem;
  overflow: hidden;
  &--text {
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--orange-bg {
    background-color: $color-orange;
  }
  &--purple-bg {
    background-color: $color-purple;
  }
  &--dark-bg {
    background-color: $color-dark;
  }
  &__author {
    margin-top: 2rem;
    font-weight: $font-heading;
  }
}

// MEDIA QUERY
@media (min-width: 768px) {
  .section__heading {
    font-size: 4.8rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .grid-item {
    &--2 {
      grid-row: span 2;
    }
    &--3 {
      grid-row: span 2;
    }
    &--5 {
      grid-column: span 2;
    }
    &--6 {
      grid-column: span 2;
    }
  }
}
@media (min-width: 968px) {
  .grid-container {
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
  }

  .grid-item {
    &--5 {
      grid-column: col-start 3 / col-end -1;
      grid-row: 1 / 1;
    }
    &--6 {
      grid-column: col-start 3 / col-end -1;
      grid-row: 2 / span 2;
    }
  }
}

// FOOTER
.footer {
  background-color: $bg-footer;
  color: white;
  text-align: center;
  &__credit {
    font-size: 1.28rem;
    padding: 3rem 2rem;
  }
  &__link {
    text-underline-offset: 0.2em;
    color: $color-purple;

    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: none;
    }
  }
}
